@mixin flexContainer($justifyContent, $alignItems, $flexDirection, $flexWrap) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $flexDirection;
  flex-wrap: $flexWrap;
}
