@import "mixins";

.navContainer {
  z-index: 10;
  margin-bottom: 0.5rem;
  position: sticky;
  top: 0;
  @include flexContainer(space-between, center, row, nowrap);
  background-color: rgb(0, 0, 36);
  height: 3rem;
  * {
    color: white;
  }
  .leftContainer {
    height: 100%;
    @include flexContainer(center, center, row, nowrap);
    .logo {
      margin: 0.2rem 0.5rem;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-weight: lighter;
      margin-left: 1rem;
      font-size: 1.8rem;
    }
    .links {
      @include flexContainer(center, center, row, nowrap);
      height: 100%;
      .link {
        height: 100%;
        @include flexContainer(center, center, row, nowrap);
        font-size: 1.2rem;
        margin-right: 0.7rem;
        list-style: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .activeLink {
        border-top: 0.1rem solid white;
      }
    }
  }
  .rightContainer {
    .address {
      background-color: rgb(0, 0, 36);
      font-size: 1rem;
      cursor: pointer;
      margin-right: 1rem;
    }
  }
}
